/* Generic to all HTML Elements */
*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

/* Id's CSS  */
#score-count{
    position: absolute;
    top: 260px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 300px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: 5px solid #0a9396;
}
#rank-score{
    text-align: center;
    height: 20px;
    width: 50px;
    border-radius: 20px;
    border: 2px solid #fcbf49;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#user-name{
    padding-left: 5px;
    border-radius: 20px;
    border: 2px solid #fcbf49;
    font-family: "Pacifico", cursive;
}
#btn{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: white;
    border: 2px solid #fcbf49;
    background-color: transparent;
    font-family: "Pacifico", cursive;
}
#description{
    font-family: "Pacifico", cursive;
    text-shadow: 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 260px;
    color: rgb(102, 249, 102);
    width: 300px;
    right: 10px;
    font-size: small;
}
#reload-gif{
    mix-blend-mode: multiply;
    position: relative;
    top: 6px
}
#game-over {
    display: none;
}
#title {
    display: block;
}
#breathing {
    -webkit-animation: breathing 1s ease-out infinite normal;
    animation: breathing 1s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 150px;
}
#reload2play {
    font-size: 50px;
}
#w-score {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 3px;
}

/* Classes  CSS*/
.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./Images/Designer0.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.user-avatar{
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 240px;
    height: 250px;
    background-image: url(./Images/horse-riding.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.obstacle{
    position: absolute;
    width: 400px;
    height: 230px;
    bottom: 0;
    background-image: url(./Images/dragon-walk.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.animateDino{
    animation: userAvatar .8s linear;
}
.obstacle-ani{
    /* animation: obstacle-ani 10s linear infinite; */
    animation: obstacle-ani 10s linear infinite;

}
.game-heading{
    font-size: 100px;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: red;
    text-shadow: 2px 1px black;
}
.skeleGif{
    height: 80px;
    width: 90px;
}
.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Keyfames CSS */
@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes obstacle-ani {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}
@keyframes userAvatar {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 750px;
    }

    100% {
        bottom: 0;
    }
}