*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.gameContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./Images/Designer0.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.userAvatar{
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 240px;
    height: 250px;
    background-image: url(./Images/horse-riding.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(128, 255, 37); */
}
.obstacle{
    position: absolute;
    width: 400px;
    height: 230px;
    bottom: 0;
    background-image: url(./Images/dragon-walk.gif);
    /* background-color: brown; */
    background-repeat: no-repeat;
    background-size: cover;
}
.animateDino{
    animation: userAvatar .8s linear;
}

@keyframes userAvatar{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 750px;
    }
    100%{
        bottom: 0;
    }
}
.obstacleAni{
    /* animation: obstacleAni 10s linear infinite; */
    animation: obstacleAni 10s linear infinite;

}
@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
.gameHeading{
    position: relative;
    top: 35px;
    font-size: 100px;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: red;
    text-shadow: 2px 1px black;
}
#scoreCont{
    position: absolute;
    right: 23px;
    top: 23px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    width: 112px;
}
.skeleGif{
    height: 80px;
    width: 90px;
}
#gameOver{
    display: none;
}
#title{
    display: block;
}