@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
}
body{
    background-image: url("./images/bg-calculator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cal-body{
    margin-top: 50px;
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 40px;
    box-shadow: 1px 2px 9px 3px rgb(0, 0, 0);
    background-color: #6f6e6e;
}
#calci-display{
    height: 80px;
    width: 550px;
    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 10px;
}
.cal-numpad{
    display: flex;
    flex-direction: row;
}
.cal-btn-ui{
    height: 90px;
    width: 80px;
    border-radius: 30px;
    margin: 5px;
    font-size: 30px;
    box-shadow: 2px 1px 0px 0px rgb(0, 0, 0);
    cursor: pointer;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#formula{
    display: flex;
    flex-direction: column;
}
#mech-btn{
    display: flex;
    flex-direction: row;
}
#logic{
    width: 180px;
}
#norm-num{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
}
.scrn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cmpny{
    display: flex;
    margin: 20px;
    justify-content: end;
}
#casio{
    padding: 5px 20px;
    font-size: 20px;
    color: red;
    border: 2px solid red;
    font-size: 22px;
}
.h-70{
    height: 70px;
}
.h-145 {
    height: 145px;
}
.func-btn{
    width: 100px;
    height: 50px;
}